.upperfooter
{
    width: auto;
    height: 97.5px;
    background-color: #F8F8F8;
}

.middleline
{
    width: 1219px;
    height: 0.6px;
    background: #C4C4C4;
    margin: auto;
}

.lowerfooter
{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0.6px;
    width: auto;
    height: 97.5px;
    background-color: #F8F8F8;
}

.footer__logo
{
    position: relative;
    top: 31px;
    right: 590px;
    width: 41px;
    height: 41px;
    margin: 0 auto;
}

.footer__logo-outside-ellipse
{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #1ABE84;
}

.footer__logo-inside-ellipse
{
    position: relative;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FB8F1D;
    border: 3px solid #FFFFFF;
}

.footer__all-right-reserved
{
    position: relative;
    font-family: Mulish;
    color: #848484;
    left: 1235px;
}

.footer__social-networks
{
    position: relative;
    top: 30.4px;
    display: flex;
}

.footer__social-networks li
{
    margin-right: 35px;
}