body
{
    font-family: "Playfair Display", "Mulish", "Inter", sans-serif;
}

header
{
    display: flex;
    margin: 0 auto;
    margin-top: 27px;
    margin-left: 197px;
    margin-right: 197px;
    width: 1206px;
    height: 60px;
    justify-content: space-between;
}

footer
{
    display: block;
    background-color: #F8F8F8;
    height: auto;
}

.container
{
    width: 1600px;
    height: 774px;

    background: #F8F8F8;
}

.mini-container
{
    display: inline-block;
    margin: 0 auto;
    margin-top: 27px;
    margin-left: 197px;
    margin-right: 197px;
    width: 481px;
    height: 700px;
    justify-content: space-between;
}

a
{
    text-decoration: none;
}

li
{
    display: block;
}